.User{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 6px;
    padding: 12px;
    background: #eee9cd;
}
.Id, .Name, .UserName, .Address,
.Geo, .Lat, .Ing, .Zipcode, .City,
.Street, .Suite, .Company, .NameCompany, .CatchPhrase, .Bs, .Email, .Phone, .Website{
    padding: 3px;
}
.Name{

}
.UserName{

}
.Address{
    background: #e7db8d;
}
.Company{

}
.Email{

}
.Phone{

}
.Website{

}
.Geo{
    margin:  0 20px 0 20px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: column;
    background: #eee9cd;
}
.Lat, .Ing{
    margin: 0 10px 0 10px;
    margin-bottom: 2px;
    display: flex;
    background: #e7db8d;
}